#app {
    width: 100wv;
    height:100hv;
    overflow: auto;
}

input {
    border-color: #333333;
}

button {
    background-color: #00a0d2;
    border-color: #333333;
    color: white;
}

#input {
    position: absolute;
    top: 1em;
    width: 98%;
    margin-left: 1%;
    height: 2em;
}

#download {
    position: relative;
    width: 15%;
    left: 3%;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

#download:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

#url {
    position: relative;
    left: 4%;
    width: 74%;
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

#url:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

#url:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

#downloadsection {
    position: absolute;
    top: 4em;
    width: 98%;
    margin-left: 1%;
    clear: both;
}

#downloadlist {
    float: left;
    top: 0px;
    left: 1%;
    width: 98%;
}

.downloadSummary {
    border-radius: 1em;
    background-color: #00a0d2;
    border: 1 px solid #333333;
    margin: 1em;
    padding: 0.5em 1em 1em 1em;
}

.downloadSummary .saveButton {
    cursor: pointer;
    float: right;
    text-align: center;
    width: 3em;
    height: 1.4em;
    border-radius: 0.2em;
    border: 1px solid #333333;
    background-color: #222222;
    color: white;
}

.downloadSummary .saveButton:hover {
    cursor: pointer;
    background-color: #444444;
    border: 1px solid #333333;
}

.downloadSummary .cancelButton,
.downloadSummary .pauseButton {
    float: right;
    margin-left: 0.5em;
    text-align: center;
    width: 1.4em;
    height: 1.4em;
    border-radius: 0.2em;
    border: 1px solid #333333;
    background-color: #222222;
    color: white;
}

.downloadSummary .cancelButton:hover,
.downloadSummary .pauseButton:hover {
    cursor: pointer;
    background-color: #444444;
    border: 1px solid #333333;
}

.downloadSummary h3 {
    margin: 0;
    padding: 0;
}

.downloadSummary .url {
    color: #0073aa;
    margin-left: 1em;
}

.downloadSummary .bytes {
    margin-left:1em;
}

.downloadSummary .progress {
    min-height: 0.5em;
    border: 1 px solid #333333;
    background-color: #0073aa;
    border-radius: 0.3em;
    margin-left:1em;
    margin-right:1em;
}

.downloadSummary .progress .pct {
    background-color: white;
    min-height: 0.5em;
    border-radius: 0.3em;
}
